@model AplicacionReservas.Models.Docente

<h1>Detalle del Docente</h1>

<div>
    <p><strong>Nombre:</strong> @Model.Nombre</p>
</div>

<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark">Editar</a>
<a asp-action="Index" class="btn btn-secondary">Volver</a>
